<div class="overview-facts">
	<div class="page-curl">
		<% for picture in entry.pictures %>
			<%= img "#{@entry_img_dir}/#{entry.id}/#{picture.id}-thumb.jpg", {:class => "shadow-light"} %>
			<% break %>
		<% end %>
		<table>
			<tr>
				<td>Hike</td>
				<td><%= entry.name %></td>
			</tr>
			<tr>
				<td>Location</td>
				<td><%= entry.location %></td>
			</tr>
			<tr>
				<td>Distance</td>
				<td><%= distance_string entry.distance %></td>
			</tr>
			<tr>
				<td>Elevation</td>
				<td><%= elevation_string entry.elevation_gain %></td>
			</tr>
			<tr>
				<td>Lat / Lon</td>
				<td>
					<a href="<%= entry.map.href %>" target="_blank"><%= "%0.3f" % entry.map.latitude %>, <%= "%0.3f" % entry.map.longitude %></a>
				</td>
			</tr>
		</table>
	</div>
</div>