
<article class="default-container entry-page <% if @editing %>editing<% end %>">
	<div class="header-landscape">
		<%= img "#{@entry_img_dir}/#{@entry.string_id}/#{@entry.string_id}-landscape.jpg", {:class => "shadow-light"} %>
		<div>
			<h1 class="header-entry-name" <% if @editing %>contenteditable="true"<% end %>><%= @entry.name %></h1>
		</div>
	</div>
	<div class="content">
		<section class="overview-section">
			<div class="overview-description">
				<%= partial("partials/facts", :locals => { :entry => @entry, :editing =>  @editing })%>
				<% if @entry.description %>
					<%= @entry.description %>
				<% elsif @editing %>
					<p <% if @editing %>contenteditable="true"<% end %>>Click to add a description</p>
				<% else %>
					<p>Uh oh, this hike doesn't yet have a description. You can fix that by <a href="<%= "/#{@entry.string_id}/edit" %>">editing this page</a>.</p>
				<% end %>
			</div>
		</section>

		<% if @entry.photos.length > 0 %>
			<section class="photos-section">
				<h2>Photos</h2>
				<div class="photo-thumb-list">
					<% for picture in @entry.photos %>
						<a class="fancybox-thumbs" rel="photos" href="<%= "#{@entry_img_dir}/#{@entry.string_id}/#{picture.path}.jpg" %>">
							<div class="photo-thumb shadow-light">
								<%= img "#{@entry_img_dir}/#{@entry.string_id}/#{picture.path}-thumb.jpg" %>
							</div>
						</a>
					<% end %>
				</div>
			</section>
		<% end %>

		<% if @entry.locations.first.map_image %>
			<section class="map-section">
				<h2>Map</h2>
				<div>
					<a href="<%= @entry.locations.first.map_href %>" target="_blank">
						<%= img "@entry.locations.first.map_image", {:class => "map"} %>
					</a>
				</div>
			</section>
		<% end %>
	</div>
</article>