
<% if @editing %>
	<div class="edit-banner">
		<h3>You are editing this page</h3>
		<div>
			<button type="button" class="save-button btn">Save</button>
			<button type="button" class="cancel-button btn">Cancel</button>
		</div>
	</div>
<% end %>
<article class="default-container hike-page <% if @editing %>editing<% end %>">
	<div class="header-landscape">
		<%= img "#{@hike_img_dir}/#{@hike.string_id}/#{@hike.string_id}-landscape.jpg", {:class => "shadow-light"} %>
		<div>
			<h1 class="header-hike-name single-line" <% if @editing %>contenteditable="true"<% end %>><%= @hike.name %></h1>
		</div>
	</div>
	<div class="content">
		<section class="overview-section">
			<div>
				<%= partial("partials/facts", :locals => { :hike => @hike, :editing =>  @editing })%>
				<div class="overview-description" <% if @editing %>contenteditable="true"<% end %>>
					<% if @hike.description %>
						<%= @hike.description %>
					<% elsif not @editing %>
						<p>Uh oh, this hike doesn't yet have a description. You can fix that by <a href="<%= "/#{@hike.string_id}/edit" %>">editing this page</a>.</p>
					<% end %>
				<div>
			</div>
		</section>

		<% if @hike.photos.length > 0 %>
			<section class="photos-section">
				<h2>Photos</h2>
				<div class="photo-thumb-list">
					<% for picture in @hike.photos %>
						<a class="fancybox-thumbs" rel="photos" href="<%= "#{@hike_img_dir}/#{@hike.string_id}/#{picture.path}.jpg" %>">
							<div class="photo-thumb shadow-light">
								<%= img "#{@hike_img_dir}/#{@hike.string_id}/#{picture.path}-thumb.jpg" %>
							</div>
						</a>
					<% end %>
				</div>
			</section>
		<% end %>

		<% if @hike.locations.first.map_image %>
			<section class="map-section">
				<h2>Map</h2>
				<div>
					<a href="<%= @hike.locations.first.map_href %>" target="_blank">
						<%= img "#{@hike_img_dir}/#{@hike.string_id}/#{@hike.locations.first.map_image}", {:class => "map"} %>
					</a>
				</div>
			</section>
		<% end %>
	</div>
</article>