<% content_for :header do %>
	<% if not @editing and is_admin? %>
		<div class="header-right">
			<div class="header-separator"></div>
			<div class="header-div header-div-edit" >
				<%= render_svg("#{@img_dir}/edit.svg") %>
				<span>Edit</span>
			</div>
		</div>
	<% end %>
<% end %>
<% if @editing %>
	<div class="edit-banner">
		<h3>You are editing this page</h3>
		<div>
			<button type="button" class="save-button btn" disabled data-loading-text="Saving..." autocomplete="off">Save</button>
			<button type="button" class="done-button btn">Done</button>
		</div>
	</div>
<% end %>
<article class="default-container hike-page <% if @editing %>editing<% end %>">
	<div class="header-landscape">
		<%= img "#{@hike_img_dir}/#{@hike.string_id}/#{@hike.string_id}-landscape.jpg", {:class => "shadow-light"} %>
		<div>
			<h1 class="header-hike-name single-line" <% if @editing %>contenteditable="true"<% end %>><%= @hike.name %></h1>
		</div>
	</div>
	<div class="content">
		<section class="overview-section">
			<div>
				<%= partial("partials/facts", :locals => { :hike => @hike, :editing =>  @editing })%>
				<div class="overview-description" <% if @editing %>contenteditable="true"<% end %>>
					<% if @hike.description and @hike.description.length > 0 %>
						<%= @hike.description %>
					<% elsif not @editing %>
						<p>Uh oh, this hike doesn't yet have a description.<% if is_admin? %> You can fix that by <a href="<%= "/#{@hike.string_id}/edit" %>">editing this page</a>.<% end %></p>
					<% end %>
				</div>
			</div>
		</section>

		<% if @hike.photos.length > 0 %>
			<section class="photos-section">
				<h2>Photos</h2>
				<div class="photo-thumb-list">
					<% for picture in @hike.photos %>
						<a class="fancybox-thumbs" rel="photos" href="<%= "#{@hike_img_dir}/#{@hike.string_id}/#{picture.path}.jpg" %>">
							<div class="photo-thumb shadow-light">
								<%= img "#{@hike_img_dir}/#{@hike.string_id}/#{picture.path}-thumb.jpg" %>
							</div>
						</a>
					<% end %>
				</div>
			</section>
		<% end %>

		<% if @hike.maps.first %>
			<section class="map-section">
				<h2>Map</h2>
				<div>
					<%= img "#{@hike_map_img_dir}/#{@hike.string_id}/#{@hike.maps.first.image_path}", {:class => "map"} %>
				</div>
			</section>
		<% end %>
	</div>
</article>