<!DOCTYPE html>

<!--
 _     _ _          _       
| |__ (_) | _____  (_) ___  
| '_ \| | |/ / _ \ | |/ _ \ 
| | | | |   <  __/_| | (_) |
|_| |_|_|_|\_\___(_)_|\___/ 

https://github.com/zaknelson/hike.io/

-->

<html lang="en" data-ng-app="hikeio" data-ng-controller="AppController" data-ui-event="{keydown: 'handleGlobalKeydown($event)'}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<meta id="viewport" name="viewport" content="width=device-width"></meta>
	<title data-ng-bind="title">hike.io</title>
	<link href="<%= @img_dir %>/favicon.png" rel="icon" type="image/x-icon"></link>
	<style>
		/* Typekit specific classes to workaround flashing text issue, these must be loaded very early */
		h1, h2, h3, li, p {
			opacity: 0;
		}
		.wf-active h1, .wf-active h2, .wf-active h3, .wf-active li, .wf-active p {
			opacity: 1;
		}

		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .data-ng-cloak, .x-ng-cloak {
			display: none !important;
		}
	</style>
	<script>
		window.hikeio = window.hikeio || {};
		window.hikeio.isAdmin = <%= is_admin? %>;

		var updateViewport = function() {
			var minWidth = 450;
			var width = screen.width
			if (width < minWidth) {
				var viewport = document.getElementById("viewport");
				viewport.content = "width=" + minWidth;
				updated = true;
			}
		};
		updateViewport();

		// Workaround for bug http://stackoverflow.com/questions/5021090/screen-width-android
		var userAgent = navigator.userAgent.toLowerCase();
		var isAndroidVersionWithBug = userAgent.indexOf("android 2.2") > -1 || userAgent.indexOf("android 2.3") > -1;
		if (isAndroidVersionWithBug) {
			setTimeout(updateViewport, 500);
		}
	</script>
	<script src="//use.typekit.net/jce4miw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<%= css :app %>
</head>
<body class="no-touch" data-ui-keydown="{esc: 'isSearchBoxActive = false'}">
	<header data-ng-cloak data-ng-controller="HeaderController">
		<div class="header-entries shadow-light">

			<div data-ng-click="hideSearchBox()">
				<div data-header-entry data-url="/" data-align="left"><%= render_svg("#{@img_dir}/logo.svg") %></div>
			</div>

			<div>
				<div data-header-entry data-label="Discover" data-url="/discover" data-align="left"><%= render_svg("#{@img_dir}/photo-stream.svg") %></div>
			</div>

			<div>
				<div data-header-entry data-label="Map" data-url="/map" data-align="left"><%= render_svg("#{@img_dir}/map.svg") %></div>
			</div>

			<div data-ng-click="toggleSearchBox()" data-ng-show="!navigation.onIndex()">
				<div data-header-entry data-label="Search" data-url="#" data-align="right"><%= render_svg("#{@img_dir}/search.svg") %></div>
			</div>

			<div data-ng-show="isAdmin">
				<div data-header-entry data-label="Add" data-url="/add" data-align="right"><%= render_svg("#{@img_dir}/add.svg") %></div>
			</div>

			<div data-ng-show="isAdmin &amp;&amp; navigation.onEntry()">
				<div data-header-entry data-label="Edit" data-url="{{location.path()}}/edit" data-align="right"><%= render_svg("#{@img_dir}/edit.svg") %></div>
			</div>
			
		</div>
		<div class="search-dropdown" data-ng-class="{active: isSearchBoxActive}">
			<div class="header-right shadow-light">
				 <input type="text" placeholder="Hike or location..." data-ui-keypress="{'enter': 'hideSearchBox(); search($event)'}" data-give-focus="isSearchBoxActive" data-ng-model="searchQuery" ></input>
			</div>
		</div>
	</header>

	<%= yield %>

	<div data-ng-view data-ng-click="hideSearchBox()">
		<noscript>
			<h1 class="noscript-message">hike.io requires JavaScript. <a href="http://www.activatejavascript.org/">Please enable it.</a></h1>
		</noscript>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.08/jquery.masonry.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.0b2.110713/jquery.infinitescroll.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.pack.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCpS42FCQP8EbwF8hHr6C5FCg6V7hFKS34&sensor=true"></script>
	<script src="//google.com/jsapi"></script>
	<%= js :app %>
</body>
</html>
