<!DOCTYPE html>

<!--
 _     _ _          _       
| |__ (_) | _____  (_) ___  
| '_ \| | |/ / _ \ | |/ _ \ 
| | | | |   <  __/_| | (_) |
|_| |_|_|_|\_\___(_)_|\___/ 

https://github.com/zaknelson/hike.io/

-->

<html lang="en" id="ng-app" data-ng-app="hikeio" data-ng-controller="AppController" data-ui-event="{keydown: 'handleGlobalKeydown($event)'}">
<head>
	<title data-ng-bind="title">hike.io</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1"/>
	<meta id="description" name="description" data-ng-attr-content="{{metaDescription}}" />
	<meta name="robots" content="noodp" />
	<meta name="fragment" content="!" />
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="<%= @img_dir %>/favicon-144.png" />
	<meta property="og:site_name" data-ng-attr-content="hike.io" />
	<meta property="og:url" data-ng-attr-content="{{'http://hike.io' + location.path()}}" />
	<meta data-ui-if="title" property="og:title" data-ng-attr-content="{{title}}" />
	<meta data-ui-if="metaDescription" property="og:description" data-ng-attr-content="{{metaDescription}}" />
	<meta data-ui-if="metaImage" property="og:image" data-ng-attr-content="{{metaImage}}" />
	<link rel="canonical" data-ng-attr-href="{{location.path()}}" />
	<link href="<%= @img_dir %>/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= @img_dir %>/favicon-152.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= @img_dir %>/favicon-144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= @img_dir %>/favicon-120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= @img_dir %>/favicon-114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= @img_dir %>/favicon-72.png" />
	<link rel="apple-touch-icon-precomposed" href="/path/to/favicon-57.png" />
	<link rel="icon" href="<%= @img_dir %>/favicon-96.png" sizes="96x96" />
	<link rel="icon" href="<%= @img_dir %>/favicon-64.png" sizes="64x64" />
	<link rel="icon" href="<%= @img_dir %>/favicon-48.png" sizes="48x48" />
	<link rel="icon" href="<%= @img_dir %>/favicon-32.png" sizes="32x32" />
	<link rel="icon" href="<%= @img_dir %>/favicon-16.png" sizes="16x16" />
	<%= css :app %>
	<style>
		[data-ng-cloak], [data-preload-resource] {
			display: none !important;
		}
	</style>
	<script>
		window.hikeio = window.hikeio || {};

		var updateViewport = function() {
			var minWidth = 450;
			var width = screen.width
			if (width < minWidth) {
				var viewport = document.getElementById("viewport");
				viewport.content = "width=" + minWidth;
				updated = true;
			}
		};
		updateViewport();

		// Workaround for bug http://stackoverflow.com/questions/5021090/screen-width-android
		var userAgent = navigator.userAgent.toLowerCase();
		var isAndroidVersionWithBug = userAgent.indexOf("android 2.2") > -1 || userAgent.indexOf("android 2.3") > -1;
		if (isAndroidVersionWithBug) {
			setTimeout(updateViewport, 1000);
		}

	</script>
	<!-- TODO, consider removing typekit for mobile browsers to speed up load time -->
	<script src="//use.typekit.net/jce4miw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
	<![endif]-->
</head>
<body data-ui-keydown="{esc: 'isSearchBoxActive = false'}">
	<div class="container" data-ng-class="{'index-container': navigation.onIndex()}">
		<header data-ng-cloak data-ng-controller="HeaderController">
			<div class="header-entries shadow-light">
				<div>
					<div data-header-entry data-url="/" data-align="left"><%= render_svg("#{@img_dir}/logo.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/logo.png" /></div>
				</div>

				<div>
					<div data-header-entry data-label="Discover" data-url="/discover" data-align="left"><%= render_svg("#{@img_dir}/photo-stream.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/photo-stream.png" /></div>
				</div>

				<div>
					<div data-header-entry data-label="Map" data-url="/map" data-align="left"><%= render_svg("#{@img_dir}/map.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/map.png" /></div>
				</div>

				<div data-ng-click="toggleSearchBox()" data-ng-show="!navigation.onIndex()" data-click-elsewhere="hideSearchBox()" data-is-active="isSearchBoxActive" data-ignore-class="search-dropdown">
					<div data-header-entry data-label="Search" data-align="right"><%= render_svg("#{@img_dir}/search.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/search.png" /></div>
				</div>

				<div data-fancybox=".add-header-link">
					<a class="add-header-link" href="javascript:;" data-fancybox-href="#add-page">
						<div data-header-entry data-label="Add" data-align="right"><%= render_svg("#{@img_dir}/add.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/add.png" /></div>
					</a>
				</div>

				<div data-ng-show="navigation.onEntry()">
					<div data-header-entry data-nofollow="true" data-label="Edit" data-url="{{location.path()}}/edit" data-align="right"><%= render_svg("#{@img_dir}/edit.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/edit.png" /></div>
				</div>
				
			</div>
			<div class="search-dropdown" data-ng-show="isSearchBoxActive" >
				<div class="header-right shadow-light">
					 <input type="text" placeholder="Hike name..." data-ui-keypress="{'enter': ' searchQuery.length &amp;&amp; hideSearchBox(); searchQuery.length &amp;&amp; search($event);'}" spellcheck="false" data-give-focus="isSearchBoxActive" data-ng-model="searchQuery" />
				</div>
			</div>
		</header>

		<%= yield %>

		<%= yield_content :preload_resource %>

		<%= yield_content :add_modal %>

		<div data-ng-view>
			<noscript><p class="noscript-message">hike.io requires JavaScript. <a href="http://www.activatejavascript.org/">Please enable it.</a></p></noscript>
		</div>
		<footer>
			<a href="http://creativecommons.org/licenses/by-sa/3.0/"><h4>LICENSE</h4></a>
			<a data-mailto><h4>CONTACT</h4></a>
			<a href="https://github.com/zaknelson/hike.io"><h4>CODE</h4></a>
			<a href="/hikes"><h4>ALL HIKES</h4></a>
		</footer>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.4/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCpS42FCQP8EbwF8hHr6C5FCg6V7hFKS34&sensor=true"></script>
	<script src="//google.com/jsapi"></script>
	<%= js :app %>
</body>
</html>
