<!DOCTYPE html>

<!--
 _     _ _          _       
| |__ (_) | _____  (_) ___  
| '_ \| | |/ / _ \ | |/ _ \ 
| | | | |   <  __/_| | (_) |
|_| |_|_|_|\_\___(_)_|\___/ 

https://github.com/zaknelson/hike.io/

-->

<html lang="en" data-ng-app="hikeio" data-ng-controller="AppController" data-ui-event="{keydown: 'handleGlobalKeydown($event)'}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<meta id="viewport" name="viewport" content="width=device-width"></meta>
	<meta id="description" name="description" data-ng-attr-content="{{metaDescription}}"></meta>
	<meta name="robots" content="noodp"></meta>
	<title data-ng-bind="title">hike.io</title>
	<link href="<%= @img_dir %>/favicon.png" rel="icon" type="image/x-icon"></link>
	<%= css :app %>
	<style>
		[data-ng-cloak], [data-preload-resource] {
			display: none !important;
		}
	</style>
	<script>
		window.hikeio = window.hikeio || {};

		var updateViewport = function() {
			var minWidth = 450;
			var width = screen.width
			if (width < minWidth) {
				var viewport = document.getElementById("viewport");
				viewport.content = "width=" + minWidth;
				updated = true;
			}
		};
		updateViewport();

		// Workaround for bug http://stackoverflow.com/questions/5021090/screen-width-android
		var userAgent = navigator.userAgent.toLowerCase();
		var isAndroidVersionWithBug = userAgent.indexOf("android 2.2") > -1 || userAgent.indexOf("android 2.3") > -1;
		if (isAndroidVersionWithBug) {
			setTimeout(updateViewport, 1000);
		}

	</script>
	<% if !@user_agent.is_mobile? || @user_agent.device.platform.to_s.downcase.include?('ipad') %>
	<script src="//use.typekit.net/jce4miw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<% end %>
</head>
<body data-ui-keydown="{esc: 'isSearchBoxActive = false'}">
	<div class="container">
		<header data-ng-cloak data-ng-controller="HeaderController">
			<div class="header-entries shadow-light">

				<div data-ng-click="hideSearchBox()">
					<div data-header-entry data-url="/" data-align="left"><%= render_svg("#{@img_dir}/logo.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/logo.png"></img></div>
				</div>

				<div>
					<div data-header-entry data-label="Discover" data-url="/discover" data-align="left"><%= render_svg("#{@img_dir}/photo-stream.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/photo-stream.png"></img></div>
				</div>

				<div>
					<div data-header-entry data-label="Map" data-url="/map" data-align="left"><%= render_svg("#{@img_dir}/map.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/map.png"></img></div>
				</div>

				<div data-ng-click="toggleSearchBox()" data-ng-show="!navigation.onIndex()">
					<div data-header-entry data-label="Search" data-align="right"><%= render_svg("#{@img_dir}/search.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/search.png"></img></div>
				</div>

				<div data-fancybox=".add-header-link">
					<a class="add-header-link" data-fancybox-href="#add-page">
						<div data-header-entry data-label="Add" data-align="right"><%= render_svg("#{@img_dir}/add.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/add.png"></img></div>
					</a>
				</div>

				<div data-ng-show="navigation.onEntry()">
					<div data-header-entry data-label="Edit" data-url="{{location.path()}}/edit" data-align="right"><%= render_svg("#{@img_dir}/edit.svg") %><img data-ui-if="!Modernizr.svg" data-ng-src="/images/edit.png"></img></div>
				</div>
				
			</div>
			<div class="search-dropdown" data-ng-class="{active: isSearchBoxActive}">
				<div class="header-right shadow-light">
					 <input type="text" placeholder="Hike name..." data-ui-keypress="{'enter': 'hideSearchBox(); search($event)'}" spellcheck="false" data-give-focus="isSearchBoxActive" data-ng-model="searchQuery" ></input>
				</div>
			</div>
		</header>

		<%= yield %>

		<%= yield_content :preload_resource %>

		<%= yield_content :add_modal %>

		<div data-ng-view data-ng-click="hideSearchBox()">
			<noscript><h1 class="noscript-message">hike.io requires JavaScript. <a href="http://www.activatejavascript.org/">Please enable it.</a></h1></noscript>
		</div>
		<footer>
			<a href="http://creativecommons.org/licenses/by-sa/3.0/"><h4>LICENSE</h4></a>
			<a data-mailto><h4>CONTACT</h4></a>
			<a href="https://github.com/zaknelson/hike.io"><h4>CODE</h4></a>
			<a href="/hikes"><h4>ALL HIKES</h4></a>
		</footer>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.4/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.08/jquery.masonry.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.pack.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCpS42FCQP8EbwF8hHr6C5FCg6V7hFKS34&sensor=true"></script>
	<script src="//google.com/jsapi"></script>
	<%= js :app %>
</body>
</html>
