<% content_for :header do %>
	<div class="header-div header-div-photos">
		<%= render_svg("#{@img_dir}/photos.svg", {:class => "header-div-icon"}) %>
		<span class="header-div-text">Photos</span>
	</div>
	<div class="header-separator"></div>
	<div class="header-div header-div-map" >
		<%= render_svg("#{@img_dir}/map.svg", {:class => "header-div-icon map-header-div-icon"}) %>
		<span class="header-div-text map-header-div-text">Map</span>
	</div>
	<div class="header-separator"></div>
<% end %>

<div id="entry-page"></div>
<div>
	<%= img "#{@entry_img_dir}/#{@entry.id}/#{@entry.id}-landscape.jpg", {:class => "photo-landscape shadow-light"} %>
	<div class="header-landscape-div-footer">
		<h1 class="header-landscape-title"><%= @entry.name %></h1>
	</div>
</div>
<div class="wrapper">
	<div class="overview-div">
		<div class="overview-description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus erat nec elit posuere volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
			<p>Duis diam nisl, consectetur egestas ornare vitae, viverra a metus. Ut leo velit, pellentesque lobortis placerat sed, ullamcorper sit amet lacus.</p>
			<p>Maecenas mattis, tellus nec pretium interdum, arcu lorem adipiscing elit, in tempor tortor risus sit amet nibh. Nam ultrices nibh ac neque hendrerit et condimentum tellus sollicitudin.</p>

		</div>
		<div class="overview-facts">
			<div class="overview-facts-div page-curl">
				<% for picture in @entry.pictures %>
					<%= img "#{@entry_img_dir}/#{@entry.id}/#{picture.id}-thumb.jpg", {:class => "overview-facts-thumb"} %>
					<% break %>
				<% end %>
				<table>
					<tr>
						<td>Hike</td>
						<td><%= @entry.name %></td>
					</tr>
					<tr>
						<td>Location</td>
						<td><%= @entry.location %></td>
					</tr>
					<tr>
						<td>Distance</td>
						<td><%= distance_string @entry.distance %></td>
					</tr>
					<tr>
						<td>Elevation gain</td>
						<td><%= elevation_string @entry.elevation_gain %></td>
					</tr>
					<tr>
						<td>Lat / Lon</td>
						<td><a href="https://maps.google.com/maps?q=Scotchman's+Peak,+ID+83811&hl=en&sll=48.177534,-116.089783&sspn=0.489924,0.495071&t=h&hq=Scotchman's+Peak,&hnear=Clark+Fork,+Bonner,+Idaho&ie=UTF8&ll=48.166314,-116.06987&spn=0.245015,0.247536&z=12&vpsrc=6&cid=1851277074294752467&iwloc=A" target="_blank"><%= @entry.map.latitude %>, <%= @entry.map.longitude %></a<</td>
					</tr>
				</table>	
			</div>
		</div>
	</div>



	<div class="photos-div">
		<h2>Photos</h2>
		<div class="photo-thumb-list">
			<% for picture in @entry.pictures %>
				<a class="fancybox-thumbs" rel="photos" href="<%= "#{@entry_img_dir}/#{@entry.id}/#{picture.id}.jpg" %>">
					<div class="photo-thumb shadow-light">
						<%= img "#{@entry_img_dir}/#{@entry.id}/#{picture.id}-thumb.jpg" %>
					</div>
				</a>
			<% end %>
		</div>
	</div>

	<div class="map-div">
		<h2>Map</h2>
		<div>
			<div>
				<a href="https://maps.google.com/maps?q=Scotchman's+Peak,+ID+83811&hl=en&sll=48.177534,-116.089783&sspn=0.489924,0.495071&t=h&hq=Scotchman's+Peak,&hnear=Clark+Fork,+Bonner,+Idaho&ie=UTF8&ll=48.166314,-116.06987&spn=0.245015,0.247536&z=12&vpsrc=6&cid=1851277074294752467&iwloc=A" target="_blank">
					<%= img "#{@entry_img_dir}/#{@entry.id}/#{@entry.id}-topographic-map.jpg", {:class => "map"} %>
				</a>
			</div>
			<div>

			</div>
		</div>
	</div>

	<!-- see http://stackoverflow.com/questions/7826868/fixed-position-navbar-only-clickable-once-in-mobile-safari-on-ios5 -->
	<div class="scroll-to-hack-div">
	</div>
</div>