<% content_for :header do %>
	<div class="header-div header-div-photos">
		<%= render_svg("#{@img_dir}/photos.svg", {:class => "header-div-icon"}) %>
		<span class="header-div-text">Photos</span>
	</div>
	<div class="header-separator"></div>
	<div class="header-div header-div-map" >
		<%= render_svg("#{@img_dir}/map.svg", {:class => "header-div-icon map-header-div-icon"}) %>
		<span class="header-div-text map-header-div-text">Map</span>
	</div>
	<div class="header-separator"></div>
<% end %>

<div id="entry-page"></div>
<div class="wrapper">
	<div class="overview-div">
		<div class="overview-header">
			<h1 class="overview-title"><%= @entry.name %></h1>
			<h2 class="overview-location"><%= @entry.location %></h2>
		</div>
		<p class="overview-description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus erat nec elit posuere volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut leo velit, pellentesque lobortis placerat sed, ullamcorper sit amet lacus. Duis diam nisl, consectetur egestas ornare vitae, viverra a metus.
		</p>
	</div>

	<div class="photos-div">
		<a class="fancybox-thumbs" rel="photos" href="<%= "#{@entry_img_dir}/#{@entry.id}/#{@entry.id}-landscape.jpg" %>">
			<div>
				<%= img "#{@entry_img_dir}/#{@entry.id}/#{@entry.id}-landscape.jpg", {:class => "photo-landscape shadow-light"} %>
			</div>
		</a>
		<div class="photo-thumb-list">
			<% for picture in @entry.pictures %>
				<a class="fancybox-thumbs" rel="photos" href="<%= "#{@entry_img_dir}/#{@entry.id}/#{picture.id}.jpg" %>">
					<div class="photo-thumb shadow-light">
						<%= img "#{@entry_img_dir}/#{@entry.id}/#{picture.id}-thumb.jpg" %>
					</div>
				</a>
			<% end %>
		</div>
	</div>

	<hr class="section-separator"/>

	<div class="map-div">
		<img src="http://maps.googleapis.com/maps/api/staticmap?center=48.171352,-116.097336&zoom=10&size=640x640&maptype=terrain&sensor=true&scale=1" class="map"></img>
	</div>

	<!-- see http://stackoverflow.com/questions/7826868/fixed-position-navbar-only-clickable-once-in-mobile-safari-on-ios5 -->
	<div class="scroll-to-hack-div">
	</div>
</div>