<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--
 _     _ _          _       
| |__ (_) | _____  (_) ___  
| '_ \| | |/ / _ \ | |/ _ \ 
| | | | |   <  __/_| | (_) |
|_| |_|_|_|\_\___(_)_|\___/ 

https://github.com/zaknelson/hike.io/

-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<% if is_iPhone? %>
		<meta name="viewport" content="width=400"></meta>
	<% else %>
		<meta name="viewport" content="width=device-width"></meta>
	<% end %>
	<title><%= @title %></title>
	<link href="<%= @img_dir %>/favicon.png" rel="icon" type="image/x-icon"></link>
	<script type="text/javascript" src="//use.typekit.net/jce4miw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<%= css :app %>
</head>
<body class="no-touch">
	<div>
		<header class="shadow-light">
			<div>
				<a href="/">
					<div class="header-div">
						<%= render_svg("#{@img_dir}/logo.svg") %>
					</div>
				</a>
				<div class="header-separator"></div>
			</div>
			<div class="header-right">
				<div class="header-separator"></div>
				<div class="header-div header-div-search" >
					<%= render_svg("#{@img_dir}/search.svg") %>
				</div>
			</div>
			<%= yield_content :header %>
		</header>
		<noscript>
			<h1 class="noscript-message">hike.io requires JavaScript. <a href="http://www.activatejavascript.org/">Please enable it.</a></h1>
		</noscript>
		<div class="sub-header">
			<div class="search-div header-right shadow-light">
				<input type="text" placeholder="Hike or location..."></input>
			</div>
		</div>
		<div class="main-container">
			<%= yield %>
		</div>
	</div>

	<footer>
	</footer>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js" type="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.0.6/jquery.fancybox.pack.js" type="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.04/jquery.masonry.min.js" type="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js" type="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.0b2.110713/jquery.infinitescroll.min.js" type="text/javascript"></script>
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCpS42FCQP8EbwF8hHr6C5FCg6V7hFKS34&sensor=true" type="text/javascript"></script>

	<%= js  :app %>
</body>
</html>
