<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--
 _     _ _          _       
| |__ (_) | _____  (_) ___  
| '_ \| | |/ / _ \ | |/ _ \ 
| | | | |   <  __/_| | (_) |
|_| |_|_|_|\_\___(_)_|\___/ 

https://github.com/zaknelson/hike.io/

-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<% if is_iPhone? %>
		<meta name="viewport" content="width=500"></meta>
	<% else %>
		<meta name="viewport" content="width=device-width"></meta>
	<% end %>
	<title><%= @title %></title>
	<link href="<%= @img_dir %>/favicon.png" rel="icon" type="image/x-icon"></link>
	<style>
		/* Typekit specific classes to workaround flashing text issue, these must be loaded very early*/
		h1, h2, h3, li, p {
			opacity: 0;
		}
		.wf-active h1, .wf-active h2, .wf-active h3, .wf-active li, .wf-active p {
			opacity: 1;
		}
	</style>

	<script type="text/javascript" src="//use.typekit.net/jce4miw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<%= css :app %>
</head>
<body class="no-touch">
	<div>
		<header class="shadow-light">
			<div>
				<a href="/">
					<div class="header-div">
						<%= render_svg("#{@img_dir}/logo.svg") %>
					</div>
				</a>
				<div class="header-separator"></div>
				<div class="header-div header-div-photo-stream">
					<%= render_svg("#{@img_dir}/photo-stream.svg") %>
					<span>Discover</span>
				</div>
				<div class="header-separator"></div>
				<div class="header-div header-div-map" >
					<%= render_svg("#{@img_dir}/map.svg") %>
					 <span>Map</span>
				</div>
	<div class="header-separator"></div>
			</div>
			<%if not @hide_search_header %>
			<div class="header-right">
				<div class="header-separator"></div>
				<div class="header-div header-div-search" >
					<%= render_svg("#{@img_dir}/search.svg") %>
				</div>
			</div>
			<% end %>
			<%= yield_content :header %>
		</header>
		
		<noscript>
			<h1 class="noscript-message">hike.io requires JavaScript. <a href="http://www.activatejavascript.org/">Please enable it.</a></h1>
		</noscript>
		<div class="sub-header">
			<div class="search-div header-right shadow-light">
				<input type="text" placeholder="Hike or location..."></input>
			</div>
		</div>
		<%if not @hide_main_container %>
		<div class="main-container">
		<% end %>
			<%= yield %>
		<%if not @hide_main_container %>
		</div>
		<% end %>
	</div>

	<footer>
	</footer>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/2.0b2.110713/jquery.infinitescroll.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.0.6/jquery.fancybox.pack.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.05/jquery.masonry.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCpS42FCQP8EbwF8hHr6C5FCg6V7hFKS34&sensor=true"></script>
	<script src="//google.com/jsapi"></script>

	<%= js  :app %>
</body>
</html>
