<div class="overview-facts">
	<div class="page-curl shadow-bottom">

		<% for picture in hike.photos #TODO use proper "facts" photo rather than just the first thumb %>
			<%= img "#{@hike_img_dir}/#{hike.string_id}/#{picture.path}-thumb.jpg", {:class => "shadow-light"} %>
			<% break %>
		<% end %>
		<table>
			<tr>
				<td>Hike</td>
				<td class="facts-hike-name single-line" <% if editing %>contenteditable="true"<% end %>><p><%= hike.name %></p></td>
			</tr>
			<tr>
				<td>Location</td>
				<td class="facts-hike-location single-line" <% if editing %>contenteditable="true"<% end %>><%= hike.locality %></td>
			</tr>
			<tr>
				<td>Distance</td>
				<td>
					<div class="facts-hike-distance" data-hikeio-float="<%= hike.distance %>" data-hikeio-units="kilometers">
						<span class="facts-hike-distance-value single-line numeric positive" <% if editing %>contenteditable="true"<% end %>></span>
						<span class="facts-hike-distance-units single-line"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td>Elevation</td>
				<td>
					<div class="facts-hike-elevation" data-hikeio-float="<%= hike.elevation_gain %>" data-hikeio-units="meters">
						<span class="facts-hike-elevation-value single-line numeric positive" <% if editing %>contenteditable="true"<% end %>></span>
						<span class="facts-hike-elevation-units"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td>Lat / Lon</td>
				<td>
					<% if not editing %><a href="/map?lat=<%= hike.location.latitude %>&amp;lng=<%= hike.location.longitude %>"><% end %>
						<span class="facts-hike-latitude-value single-line numeric" <% if editing %>contenteditable="true"<% end %>><%= "%0.3f" % hike.location.latitude %></span>
						<span>,</span>
						<span class="facts-hike-longitude-value single-line numeric" <% if editing %>contenteditable="true"<% end %>><%= "%0.3f" % hike.location.longitude %></span>
					<% if not editing %></a><% end %>
				</td>
			</tr>
		</table>
	</div>
</div>