<div class="overview-facts">
	<div class="page-curl shadow-bottom">

		<% for picture in hike.photos #TODO use proper "facts" photo rather than just the first thumb %>
			<%= img "#{@hike_img_dir}/#{hike.string_id}/#{picture.path}-thumb.jpg", {:class => "shadow-light"} %>
			<% break %>
		<% end %>
		<table>
			<tr>
				<td>Hike</td>
				<td class="facts-hike-name single-line" <% if editing %>contenteditable="true"<% end %>><p><%= hike.name %></p></td>
			</tr>
			<tr>
				<td>Location</td>
				<td class="facts-hike-location single-line" <% if editing %>contenteditable="true"<% end %>><%= hike.locations.first.name %></td>
			</tr>
			<tr>
				<td>Distance</td>
				<td>
					<div class="facts-hike-distance" data-io-hike-float="<%= hike.distance %>" data-io-hike-units="kilometers">
						<span class="facts-hike-distance-value single-line" <% if editing %>contenteditable="true"<% end %>></span>
						<span class="facts-hike-distance-units"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td>Elevation</td>
				<td>
					<div class="facts-hike-elevation" data-io-hike-float="<%= hike.elevation_gain %>" data-io-hike-units="meters">
						<span class="facts-hike-elevation-value single-line" <% if editing %>contenteditable="true"<% end %>></span>
						<span class="facts-hike-elevation-units"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td>Lat / Lon</td>
				<td>
					<a href="<%= hike.locations.first.map_href %>" target="_blank"><%= "%0.3f" % hike.locations.first.latitude %>, <%= "%0.3f" % hike.locations.first.longitude %></a>
				</td>
			</tr>
		</table>
	</div>
</div>