<div id="preview-<%= hike[:string_id] %>" class="preview">
	
	<% if defined? is_featured and is_featured %>
		<div class="featured-box">
			<%= img "#{@hike_img_dir}/#{hike.string_id}/#{hike.string_id}-preview-large.jpg" %>
	<% else %>
		<div>
			<%= img "#{@hike_img_dir}/#{hike.string_id}/#{hike.string_id}-preview.jpg" %>
	<% end %>
		
			<div class="preview-footer">
				<div>
					<div class="preview-title">
						<%= hike.name %>
					</div>
					<div class="preview-location">
						<%= hike.locations.first.name %>
					</div>
				</div>
				<div>
					<div class="preview-distance">
						<%= distance_string hike.distance %>
					</div>
				</div>
			</div>
		</div>
</div>